/* CSS Document */

gui--SettingsActivity, gui--MenuActivity, gui--HelpActivity {
  border-image: url(./images/Menu-Background.png);
}

QPushButton {
  border-image: url(./images/projectile.png);
  min-height: 50;
  min-width: 270;
  font-size: 11pt;
  color: white;
}

QPushButton:hover {
  color: grey;
}

QLabel {
  background-color: rgba(66,33,0,180);
  color: white;
  font-size: 10pt;
}

QMessageBox {
  background-color: rgb(66,33,0);
  color: white;
}

QDialog {
  background-color: rgb(66,33,0);
  color: white;
}